<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COmpatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user_page_style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="{% static 'smallscreen.css' %}">    
</head>