<!DOCTYPE html>
<html lang="en">
    {% include 'sudoku_app/common_headers.html' %}
    <body>
        {% include 'sudoku_app/app_title_div.html' %}
        <div class="login_overall_container">
            <p class="sign-up-title">Errors have been encountered</p>
                    <p>{{ errors }}</p>
                    <div class="button-container">
                        <button type="submit" class="check_answers_button" onclick="document.location= '/index'">Back to home page</button>
                    </div>

            </div>
        </div>
    </body>
</html>