<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COmpatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="{% static 'smallscreen.css' %}">

        <script src="{% static   'Globals.js' %}" type="text/javascript"></script>
        {{puzzle_hints|json_script:"puzzle_hints"}}
        {{puzzle_solution|json_script:"puzzle_solution"}}
        <script src="{% static   'script.js' %}" type="module"></script>        

    </head>
    <body>
        <div id="header" class="header">lisudoku.org | Free online sudoku</div>
        <div id="sudoku-game-wrapper" class="sudoku-game-wrapper">
            <div id="board-wrapper" class="board-wrapper">
                <div id="game-headers" class="game-headers">
                    <form action="{% url 'sudoku_app:new_puzzle_from_diff_level_change' %}" method="post">
                        {% csrf_token %}
                            <div id="difficulty_choices" class="difficulty_choices">
                                {{ diff_level_form }}
                            </div>
                            
                    </form>

                </div>
                <div id="game-board" class="game-board"></div>
                <div id="board-footer" class="board-footer">
                    <button type="button" class="submit_button" id="submit_button">Check your answer</button>
                    <button type="button" class="submit_button resume_play_button" id="resume_play_button">Resume play</button>
                </div>
            </div>
            <div id="right-controls" class="right-controls">
                <div id = "numpad-wrapper" class="numpad-wrapper">
                    <div id = "numpad-item-1" class="numpad-item"> 1 </div>
                    <div id = "numpad-item-2" class="numpad-item"> 2 </div>
                    <div id = "numpad-item-3" class="numpad-item"> 3 </div>
                    <div id = "numpad-item-4" class="numpad-item"> 4 </div>
                    <div id = "numpad-item-5" class="numpad-item"> 5 </div>
                    <div id = "numpad-item-6" class="numpad-item"> 6 </div>
                    <div id = "numpad-item-7" class="numpad-item"> 7 </div>
                    <div id = "numpad-item-8" class="numpad-item"> 8 </div>
                    <div id = "numpad-item-9" class="numpad-item"> 9 </div>
                    <div id = "delete-button" class="numpad-item del-button"> Del </div>
                    <div id = "provisional-button" class="numpad-item"> P </div>
                </div>
                <div id="new-button-wrapper" class="new-button-wrapper">
                    <form action="{% url 'sudoku_app:new_puzzle' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name='new_game_button' class="submit_button" value="{{ puzzle_id }}">New game</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>