<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COmpatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        <script src="{% static   'Globals.js' %}" type="text/javascript"></script>
        {{puzzle_hints|json_script:"puzzle_hints"}}
        {{puzzle_solution|json_script:"puzzle_solution"}}
        <script src="{% static   'script.js' %}" type="module"></script>        
        
    </head>
    <body>
        <div id="game-wrapper">
            <div id="game-headers">
                <form action="{% url 'sudoku_app:new_puzzle' %}" method="post">
                    {% csrf_token %}
                         <div id="difficulty_choices">
                               {{ diff_level_form }}
                         </div>
                         
                </form>

            </div>
            <div id="game-board"></div>
        </div>
        <div id = "numpad-wrapper" class="numpad-wrapper">
            <div id = "numpad-item-1" class="numpad-item"> 1 </div>
            <div id = "numpad-item-2" class="numpad-item"> 2 </div>
            <div id = "numpad-item-3" class="numpad-item"> 3 </div>
            <div id = "numpad-item-4" class="numpad-item"> 4 </div>
            <div id = "numpad-item-5" class="numpad-item"> 5 </div>
            <div id = "numpad-item-6" class="numpad-item"> 6 </div>
            <div id = "numpad-item-7" class="numpad-item"> 7 </div>
            <div id = "numpad-item-8" class="numpad-item"> 8 </div>
            <div id = "numpad-item-9" class="numpad-item"> 9 </div>
        </div>
    </body>
</html>