<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COmpatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="{% static 'smallscreen.css' %}">    
    </head>
    <body>
        <div id="header" class="header"><a class="header" href="{% url 'sudoku_app:index' %}">lisudoku.org | free online sudoku</a></div>
        <div class="login_overall_container">
            <p class="sign-up-title">Sign up. It's free!</p>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {% for field in sign_up_form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                        <p class="help-text"> {{ field.help_text }} </p>
                        
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit" class="check_answers_button">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>