<!DOCTYPE html>
<html lang="en">
    {% include 'sudoku_app/common_headers.html' %}
    <body>
        {% include 'sudoku_app/app_title_div.html' %}

        <div class="login_overall_container">
            <p class="user-title"> {{ name }}'s user page </p>
            
            <div class="user-table-container">
                <table class="user-table">
                    <thead>
                    <tr><th colspan=4 class="top-title-row">Puzzles solved in a timed session</th></tr>
                    <tr> 
                        <th>Puzzle number</th>
                        <th>Difficulty</th>
                        <th>Time taken to solve</th>
                        <th>Date and time</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for entry in solved_puzzles %}
                        <tr>
                        <td>{{ entry.puzzle_id }}</td> 
                        <td>{{ entry.difficulty }}</td> 
                        <td>{{ entry.duration }}</td>
                        <td>{{ entry.start_time }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            
        </div>
    </body>
</html>