<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COmpatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'user_page_style.css' %}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="{% static 'smallscreen.css' %}">    
    </head>
    <body>
        <div id="header" class="header"><a class="header" href="{% url 'sudoku_app:index' %}">lisudoku.org | free online sudoku</a></div>

        <div class="login_overall_container">
            <p class="user-title"> {{ name }}'s user page </p>
            
            <div class="user-table-container">
                <table class="user-table">
                    <thead>
                    <tr><th colspan=4 class="top-title-row">Puzzles solved in a timed session</th></tr>
                    <tr> 
                        <th>Puzzle number</th>
                        <th>Difficulty</th>
                        <th>Time taken to solve</th>
                        <th>Date and time</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for entry in solved_puzzles %}
                        <tr>
                        <td>{{ entry.puzzle_id }}</td> 
                        <td>{{ entry.difficulty }}</td> 
                        <td>{{ entry.duration }}</td>
                        <td>{{ entry.start_time }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            
        </div>
    </body>
</html>