<!DOCTYPE html>
<html lang="en">
    {% include 'sudoku_app/common_headers.html' %}
    <body>
        {% include 'sudoku_app/app_title_div.html' %}
        <div class="login_overall_container">
            <p class="sign-up-title">Login</p>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                        <p class="help-text"> {{ field.help_text }} </p>
                        
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit" class="check_answers_button">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
