<!DOCTYPE html>
<html lang="en">
    {% include 'sudoku_app/common_headers.html' %}
    <body>
        {% include 'sudoku_app/app_title_div.html' %}
        <div class="login_overall_container">
            <p class="sign-up-title">Login</p>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p style="text-align: center;">{{ field.label_tag }} {{ field }}</p>
                        <p class="help-text"> {{ field.help_text }} </p>
                        
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit" class="check_answers_button">Log in</button>
                    </div>
                </form>
                <p style="text-align: center;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>
        {% include 'sudoku_app/footer.html' %}
    </body>
</html>
