<!DOCTYPE html>
<html lang="en">
    {% include 'sudoku_app/common_headers.html' %}
    <body>
        {% include 'sudoku_app/app_title_div.html' %}
        <div class="login_overall_container">
            <p class="sign-up-title">Enter your email address</p>
            <div class="form-container">
              <form action="" method="post">
                {% csrf_token %}
                    {% if form.email.errors %}
                      {{ form.email.errors }}
                    {% endif %}
                    <p style="text-align: center;">{{ form.email }}</p>
                    <div class="button-container">
                      <button type="submit" class="check_answers_button">Reset Password</button>
                  </div>
              </form>
            </div>
        </div>
    </body>
</html>