<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>lisudoku | free online sudoku</title>   
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">       
  </head>
  <body>
  <div class="header">
    lisudoku | free online sudoku
  </div>
  <div class="overall_container">
    Enter your email address
    <div class="form_container"> 
      <form action="" method="post">
        {% csrf_token %}
            {% if form.email.errors %}
              {{ form.email.errors }}
            {% endif %}
            <p>{{ form.email }}</p>
          <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
    </div>
  </div>
  </body>
</html>
