div.home_page_overall_container{
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 2vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--header-text);
    text-align: center;
    font-size: 3vmin;
}

div.home_main_container{
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1vmin;
    margin-top: 2vmin;
}

/* Slideshow container */
div.slide_show_container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.home_page_slides {
    display: none;
}

/* Next & previous buttons */
.previous_slide, .next_slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
  .next{
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .previous_slide:hover, .next_slide:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  div.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



div.home_buttons_container{
    display: block;
}
#play_online_id,
#play_offline_id
{
    width: 90%;
    border: none;
    color: white;
    padding: 1.5vmin 1.5vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
    margin: 1vmin 1vmin;
    cursor: pointer;
    background-color: var(--buttons-background);
    border-radius: 6px;
}