*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
}

#game-wrapper {
    display: grid;
    grid-template-columns: 1 auto auto auto;
    background-color: DodgerBlue;
 }

#game-headers {
    height: 4vmin;
    margin: 0;
    background-color: red;
    position: relative;
    font-family: Arial;
}

#difficulty_choices {
    margin: auto;
    position: relative;
}
#game-headers select {
    /* A reset of styles, including removing the default dropdown arrow*/

    /* Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    width: 30%;
    font-family: inherit;
    font-size: 3vmin;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;
    padding: 0 30px 0 0;

  }



#game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #333;/*Change this to something different if you want the border to be there, thickness below*/
    padding: var(--board-border);/*The thickness of the border of the whole board*/
    position: relative;
}

.cell {
    display: flex;
    background-color: var(--cell-background-colour);
    border-bottom: var(--cell-border-bottom);
    border-left: var(--cell-border-left);
    border-top: var(--cell-border-top);
    border-right: var(--cell-border-right);
    font-weight: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--number-color);
    font-size: var(--text-size);
}

.numpad-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vmin;
    row-gap: 1vmin;
    position: relative;
    margin-left: 3vmin;
    border: 1px solid black;
    padding: 1vmin;
}
.numpad-item{
    text-align: center;
    background-color: aqua;
    border: 0;
    border-radius: 6px;
    font-size: 7.5vmin;
    padding: 3vmin;
}


@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}