*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --body-background: #faf0e6;
    --header-background: #faf0e6;
    --header-text: rgb(12, 82, 144);
    --buttons-background: rgb(94, 137, 114);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--body-background);
}

div.header{
    background-color: var(--header-background);
    display: block;
    width: 100%;
    text-align: center;
    height: 9vh;
    margin: auto;
    line-height: 9vh;
    padding-top: 1.5vmin;
}

p.header{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vmin;
    color: var(--header-text);
}

p.header_vertical_bar {
    display: inline;
    color: var(--buttons-background);
    font-size: 4vmin;
}


div.footer{
    background-color: var(--header-background);
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--header-text);
    font-size: 1.5vmin;
    border-top: solid;
    border-top-color: #333333;
    border-top-width: 0.2vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    margin-top: 3vmin;
}

img.footer{
    height: 3vmin;
    vertical-align: middle;
}
a.footer:visited, a.footer:active, a.footer:link {
    text-decoration: none;
    color: inherit;
}

a.header:visited, a.header:active, a.header:link {
    text-decoration: none;
    color: inherit;
}

div.user_bar {
    background-color: var(--header-background);
    margin: 0;
    text-align: right;
    color: var(--header-text);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    padding-right: 1.5vmin;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    border-bottom: solid;
    border-bottom-color: #333333;
    border-bottom-width: 0.2vmin;
}
div.sudoku-game-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    /*height: 100vh;*/
    margin: 0;
    font-size: 7.5vmin;
    padding-top: 3vmin;
}

div.board-wrapper {
    display: grid;
    grid-template-columns: 1 auto auto auto;
 }


div.right_controls{
    display: block;
    padding: 0;
    margin-left: 3vmin;
}



div.game-options-wrapper {
    background-color: var(--buttons-background);
    width: 100%;
    font-size: 2vmin;
    border-radius: 1vmin;
    margin-right: 1vmin;
    padding: 1vmin;
    color: var(--header-background);
    display:block;
}

div.game-options-wrapper select {
    /* A reset of styles, including removing the default dropdown arrow*/
    background-color: var(--header-text);
    border: none;
    width: 60%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    position: relative;
    display:inline;
    margin: 1vmin;
}


div.game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    position: relative;
}

div.cell {
    background-color: var(--cell-background-colour);
    border-bottom-width: var(--cell-border-width-bottom);
    border-right-width: var(--cell-border-width-right);
    border-left-width: var(--cell-border-width-left);
    border-top-width: var(--cell-border-width-top);
    border-bottom-style: var(--cell-border-style-bottom);
    border-right-style: var(--cell-border-style-right);
    border-left-style: var(--cell-border-style-left);
    border-top-style: var(--cell-border-style-top);
    border-color: #333333;
    font-weight: normal;
    text-align: center;
    color: var(--number-color);
    font-size: var(--text-size);
    
}

div.right-controls{
    display:block;
    margin-left: 3vmin;
}
div.new-button-wrapper{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: top;
}

div.timer-wrapper {
    width: 100%;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    margin-bottom: 1vmin;
    border-radius: 1vmin;


}
div.numpad-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vmin;
    row-gap: 1vmin;
    position: relative;
    margin-bottom: 1vmin;
    margin-top: 1vmin;
}
div.numpad-item{
    text-align: center;
    background-color: var(--header-text);
    color: var(--header-background);
    border: 0;
    border-radius: 6px;
    font-size: 7.5vmin;
    padding: 3vmin;
}

div.del-button{
    font-size: 4vmin;
    padding-top: 5vmin;
    padding-bottom:  1vmin;
    padding-left:  1vmin;
    padding-right:  1vmin;
}


div.board-footer{
    display: flex;
    margin:0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vmin;
}

button.check_answers_button {
    border: none;
    color: white;
    padding: 1.5vmin 1.5vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
    margin: 1vmin 1vmin;
    cursor: pointer;
    background-color: var(--buttons-background);
    border-radius: 6px;
  }
button.logout_button {
    font-size: 1.5vmin;
    border-radius: 1px;
    margin: 0.1vmin 0.1vmin;
    padding: 0.4vmin 0.4vmin;
}
button.new_game_button{
    margin: 0;
    vertical-align: top;
}
button.resume_play_button{
    display: var(--resume-play-visibility);
    background-color: rgb(148, 216, 216);
}

div.overlay_timed_results{
    position: fixed;
    display: var(--overlay-timed-results-visibility);
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    height: 90%;
    text-align: center;
    color: brown;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    cursor: pointer;
    vertical-align: middle;
  }



@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}
